.default-white-checkbox {
    border: 2px solid var(--white);
    width: 22px;
    height: 22px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-white-checkbox svg {
    display: none;
    fill: var(--main-color);
    height: 20px;
}

.default-white-checkbox.checked {
    background-color: var(--white);
}

.default-white-checkbox.checked svg {
    display: block;
}