.relogin-wrapper h1 {
    color: var(--white);
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
}

.relogin-wrapper h2 {
    top: calc(30vh + 80px);
    color: var(--white);
    font-size: 30px;
    opacity: .8;
    line-height: 60px;
    text-align: center;
}

.relogin-wrapper a {
    display: block;
    color: var(--white);
    text-decoration: underline;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    width: 100%;
}

.relogin-wrapper .btn-row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    height: 40px;
}

.relogin-wrapper .btn-row a {
    text-decoration: none;
    font-size: 25px;
}

.relogin-wrapper .btn-row a {
    width: auto;
    margin-top: 0;
}

.relogin-input.fail {
    margin-left: -25px;
}

.relogin {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
    margin-top: -10vh;
    transition: margin .2s;
}

.relogin .relogin-input {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin .3s ease;
}

.relogin .relogin-input .placeholder {
    margin-left: 55px;
}

.relogin .relogin-input.phone input {
    border: none;
    border-bottom: 2px solid var(--white);
    width: 300px;
    font-size: 20px;
    height: 40px;
}

.relogin .relogin-input.phone a {
    width: 50px;
}

.relogin .relogin-input.small input {
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.relogin input {
    width: 70px;
    height: 70px;
    border: 2px solid var(--white);
    outline: none;
    background-color: transparent;
    color: var(--white);
    font-size: 30px;
    padding: 0;
    text-align: center;
    transition: margin .1s;
    margin: 10px;
}

.relogin input:focus {
    width: 73px;
    height: 73px;
    margin: 8.5px;
}