@media (max-width: 1200px), (max-height: 800px) {
    .dashboard .table-wrapper {
        height: calc(var(--height) - var(--header-height) - 2px - var(--padding-block) - 35px);
    }
    .wrapper div.box-wrapper {
        --width: 100vw !important;
        --height: 100vh !important;
        border-radius: 0;
    }
    /** Disable Swipe animation **/
    .animation-wrapper {
        --swipe-amount: 0;
    }
}